@model IEnumerable<Movies.Models.Rental>

<h2>Rentals</h2>
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Customer</th>
            <th>Movie</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
       
            @foreach(var r in Model)
            {
               <tr>
                   <td> @r.Customer.Name</td>
                   <td>@r.Movie.Name</td>
               </tr>

            }
        
    </tbody>
</table>